<section class="timeline">
    <div class="title-wrapper">
        <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
        </div>
        <h3 class="h3">{{ include.title }}</h3>
    </div>
    <ol class="timeline-list">
        {% for item in include.items %}
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ item[include.itemTitlePropertyName] }}</h4>
                <span>{{ item.dateStart }} — {{ item.dateEnd }}</span>
                <p class="timeline-text">
                    {{ item.description }}
                </p>
            </li>
        {% endfor %}
    </ol>
</section>