<section class="testimonials">
    <h3 class="h3 testimonials-title">Testimonials</h3>
    <ul class="testimonials-list has-scrollbar">
        {% assign testimonialsSortedDESC = site.testimonials | sort: 'date' | reverse %}
        {% for testimonial in testimonialsSortedDESC %}
            <li class="testimonials-item">
                <div class="content-card" data-testimonials-item>
                    <figure class="testimonials-avatar-box">
                        <img src="{{ testimonial.thumbnail }}" alt="{{ testimonial.witness }}" width="60" data-testimonials-avatar>
                    </figure>
                    <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ testimonial.witness }}</h4>
                    <div class="testimonials-text" data-testimonials-text>
                        {{ testimonial.content }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
{% assign firstTestimonialsSortedDESC = site.testimonials | sort: 'date' | reverse | first %}
<div class="modal-container" data-modal-container>
    <div class="overlay" data-overlay></div>
    <section class="testimonials-modal">
        <button class="modal-close-btn" data-modal-close-btn>
            <ion-icon name="close-outline"></ion-icon>
        </button>
        <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
                <img src="{{ firstTestimonialsSortedDESC.thumbnail }}" alt="{{ firstTestimonialsSortedDESC.witness }}" width="80" data-modal-img>
            </figure>
            <img src="/assets/images/icon-quote.svg" alt="quote icon">
        </div>
        <div class="modal-content">
            <h4 class="h3 modal-title" data-modal-title>{{ firstTestimonialsSortedDESC.witness }}</h4>
            <time datetime="{{ firstTestimonialsSortedDESC.date }}">{{ firstTestimonialsSortedDESC.date | date_to_string: "ordinal", "US" }}</time>
            <div data-modal-text>
                {{ firstTestimonialsSortedDESC.content }}
            </div>
        </div>
    </section>
</div>